@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prezado(a) responsável por esta vaga.</h1>
    <p>
        Meu nome é Felipe Lopes Zem. Sou Analista de Sistemas, com mais de 7 anos de experiência, capaz de antecipar e prevenir problemas.
    </p>
    <p>
        Meu perfil me concede uma adaptabilidade para aprender rapidamente. Como Analista de Sistemas, busco ouvir atentamente, promover a mudança de processos e promover a mentoria de estagiários e juniores. Utilizo minhas experiências para aumentar ainda mais a agilidade, a qualidade e os lucros da empresa.
    </p>
    <p>
        Realizei a implementação dos diversos tipos de limites bancários PIX e TED, em sistema Salesforce integrado a diversos microsserviços .NET, conforme as especificações do Banco Central e do Conglomerado Financeiro Bari. Obtive reconhecimento da gerência por minhas iniciativas visando sempre a integridade e disponibilidade dos dados, reduzindo os custos necessários com o atendimento de clientes que estariam desamparados.
    </p>
    <p>
        Possuo conhecimentos em C#, .NET Core, LINQ, Entity Framework, Web API, REST, Postgres, SQL Server, Salesforce, Testes Automatizados, conceitos de DevOps, Metodologias Ágeis, dentre outros.
    </p>
    <p>
        Adoraria fazer parte do time!
        <br />
        Ficarei feliz em fazer parte do processo e conhecê-los.
    </p>
</div>
